body {
  margin: 0;
  min-height: 100vh;
  background-color: #1F1F1F;
}

.container {
  background-color: #EAE4F2;
  width: 300px;
  height: 500px;
  border-radius: 20px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}

.button {
  margin-top: 16px !important;
  background-color: #8A22F2 !important;
  color: #EAE4F2 !important;
  font-weight: bold !important;
  border-radius: 5px !important;
  height: 55px !important;
  width: 400px !important;
}

.textfield {
  height: 55px !important;
  width: 400px !important;
  color: #8A22F2 !important;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.title {
  font-size: 35px;

}