body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;     
  background-color: #f5f5f5;
}

.container {
  background-color: #872DC4;
  border-radius: 20px;
  padding: 30px;
}

